html{
    min-height:100%;
    position:relative;
}
body{
    height:100%;
    color: #ecf0f1;
    overflow: hidden;
}

.fullViewPortHeight{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.inputCenter{
    text-align: center;
}

.defaultBackground{
    background-color: #16a085;
}

.panel {
    border: 0;
}
.panel-heading{
    background-color: #1abc9c;
}
.panel-body{
    background-color: #1abc9c;
}

.droppable-section {
    height:60vh;
}