<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="sr33.github.io">
    <title>Kindergarten Word Sort</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>

    <link href="custom.css" rel="stylesheet">
    <script src="ng_app_kindergarten_word_sort.js"></script>
</head>

<body ng-app="kindergartenWordSortApp">
<div ng-controller="kindergartenWordSortController">
    <!--step 1-->
    <div href="#gotoWelcomeScreen" id="welcomeScreen"
         class="jumbotron text-center fullViewPortHeight defaultBackground">
        <div class="verticalCenter">
            <h1>Kindergarten Word Sort</h1>
            <p>Give your game a name!</p>
            <form ng-submit="gameTitleFormSubmit()">
                <input placeholder="EX: Noun, Adjective or Verb?"
                       size="100"
                       class="form-control inputCenter"
                       ng-model="gameTitle">
            </form>
        </div>
    </div>
    <!--step 2-->
    <div ng-hide="!loadCreateCategoriesScreen" href="#gotoCreateCategoriesScreen" id="createCategoriesScreen"
         class="jumbotron text-center fullViewPortHeight defaultBackground">
        <div class="verticalCenter">
            <p>Great! Let's create some categories for <strong>{{gameTitle}}</strong> now</p>
            <form ng-submit="gameCategoriesFormSubmit()">
                <input placeholder="separate categories by comma. No more than 4 categories will be considered"
                       size="100"
                       class="form-control inputCenter"
                       ng-model="gameCategoriesBlob">
            </form>
        </div>
    </div>
    <!--step 3-->
    <div ng-hide="!loadCreateWordsScreen" href="#gotoCreateWordsScreen" id="createWordsScreen"
         class="jumbotron text-center fullViewPortHeight defaultBackground">
        <p>Great! Let's get some words for <strong>{{gameTitle}}</strong> now. Enter words matching each category
            created.</p>
        <div class="container">
            <div class="row">
                <form ng-submit="gameWordsBlobSubmit()">
                    <div class="col-sm-{{12/gameCategories.length}}"
                         ng-repeat="gameCategory in gameCategories">
                        <div class="panel">
                            <div class="panel-heading">
                                <h2>{{gameCategory.title}}</h2>
                            </div>
                            <div class="panel-body">
                                <textarea rows="20"
                                          class="form-control"
                                          placeholder="Separate words with a comma"
                                          ng-model="gameCategory.wordBlob">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-outline">
                        Next Step
                        <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!--game screen-->
    <div ng-hide="!loadGameScreen" href="#gotoGameScreen" id="gameScreen" class="fullViewPortHeight defaultBackground">
        <div class="container">
            <div class="text-center">
                <h1>{{gameTitle}}</h1>
                <button class="btn btn-info" draggable="true">
                    {{currentGameWord.text}}
                </button>
            </div>
            <div class="row">
                <div class="col-sm-{{12/gameCategories.length}}" ng-repeat="gameCategory in gameCategories">
                    <div class="panel">
                        <div class="panel-heading text-center">
                            <h2>{{ gameCategory.title }}</h2>
                        </div>
                        <div class="panel-body" droppable="true">
                            <div class="droppable-section" droppable="true" data-gameCategoryTitle="{{gameCategory.title}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
